# البيئة الوهمية
venv/
env/

# ملفات التشغيل المؤقتة لبايثون
__pycache__/
*.pyc
*.pyo
*.pyd

# مجلدات التحويل إلى exe
build/
dist/
*.spec

# ملفات النظام المخفية
.DS_Store
Thumbs.db

# مجلد الأرشيف الخاص
أرشيف/